*{font-family: 'Nanum Gothic', sans-serif; margin: 0; padding: 0; box-sizing: border-box; border:none;}
.clear{clear: both;}

html{scroll-behavior:smooth;}

header {position: relative; width: 100%; height: 130px; background-color: rgb(20, 12, 56); padding: 30px 0 ;}
header > h1 {float: left; margin-left: 90px; padding-top: 7px;}
header > div.menu-wrap {float: right; margin-right: 90px; position:relative; padding-top: 26px;}
header > div.menu-wrap > a {text-decoration: none; color:#fff; font-size: 15pt; font-weight: 700;}
header > div.menu-wrap > a:first-child {color:#fbe04c}
header > div.menu-wrap > a:nth-child(2),
header > div.menu-wrap > a:nth-child(3),
header > div.menu-wrap > a:last-child {padding-left: 20px;}

header > nav {position: fixed; top: 40%; left: 7%;}
header > nav > div.nav > ul {list-style: none;}
header > nav > div.nav > ul > li {margin-bottom: 17px;}
header > nav > div.nav > ul > li > a {text-decoration: none; color: white; text-shadow: #666 0 5px 10px; opacity: 60%;}
header > nav > div.nav > ul > li > a:hover {color:rgb(20, 12, 56);}
header > nav > div.nav > ul > li > a.selected {opacity: 100%;}

article.main-visual {
      height: 760px; padding:0 20%; text-align:justify; 
      background-image: url("image/main-visual.jpg"); background-size: cover;
      display: block;
}
article.main-visual > div.txt-btn {padding: 230px 0 0 0; position: relative;}
article.main-visual > div.txt-btn > h2 {font-weight: 800; font-size: 60pt; letter-spacing: 10px; color:#fbe04c;}
article.main-visual > div.txt-btn > h2 > span {font-weight: 400; font-size: 25pt; letter-spacing: 2px; padding-left: 20px; vertical-align: bottom;}
article.main-visual > div.txt-btn > div.main-txt {color: #fff; margin-top: 28px;}
article.main-visual > div.txt-btn > div.main-txt > p {font-size: 20pt; padding-top: 26px;}
article.main-visual > div.txt-btn > div.btn {margin-top: 70px;}
article.main-visual > div.txt-btn > div.btn > button {
      outline: none;
      cursor: pointer;
      margin-right: 20px; padding: 0 30px;
      float: left; width: 260px; height: 90px;
      background-color: #fff; border-radius: 45.41px;
      font-size: 15pt; font-weight: 400; color: #2b1c58;
      box-shadow: #666 0 5px 10px;
}
article.main-visual > div.txt-btn > div.btn > button > p {float: left; padding-top: 15px;}

.google {margin-right: 20px;}
.google > img {margin-right: 20px;vertical-align: middle; float: left;}
.app-store > img {margin-right: 20px; vertical-align: middle; float: left;}

article.main-visual > div.main-phone {position: absolute; margin-left: 90px; display: inline-block;}
article.main-visual > div.main-phone > img {float: left; position: absolute; top: -440px;}

article.about {width: 100%; text-align:justify; }
article.about > div.about-txt {
      height: 950px; padding: 135px 0 0 20%;
      background: linear-gradient(130deg, #252496, #9c4dd4 ,#00faff);
}
article.about > div.about-txt > div.menu-name {position: relative;  font-size: 17pt; margin-bottom: 110px;}
article.about > div.about-txt > div.menu-name > a {
      color: rgba(255, 255, 255, 0.7); float: left; margin-right: 10px;
      text-decoration: none;
}
article.about > div.about-txt > div.menu-name > p {color:#fff;}

article.about > div.about-txt > ul.textbox-left {float:left; display: block;}
article.about > div.about-txt > ul.textbox-left > li {list-style-type: none;}
article.about > div.about-txt > ul.textbox-left > li > h3 {margin-bottom: 95px; font-size: 44pt; color:#fbe04c; font-weight: 800;}
article.about > div.about-txt > ul.textbox-left > li > h4 {font-size: 16pt; font-weight: 700; color: #fff; margin-bottom: 35px;}
article.about > div.about-txt > ul.textbox-left > li > p {font-size: 13pt; font-weight: 700; color: #fff; margin-bottom: 76px;}
article.about > div.about-txt > ul.textbox-left > li > div.circle {position: relative;}
article.about > div.about-txt > ul.textbox-left > li > div.circle > div {
      float: left; position: absolute; background-color: transparent;
      width: 135px; height:135px; border: 2px solid #fbe04c  ; border-radius: 100px;
}
article.about > div.about-txt > ul.textbox-left > li > div.circle > div.circle2 {margin-left: 115px;}
article.about > div.about-txt > ul.textbox-left > li > div.circle > div.circle3 {margin-left: 230px;}

article.about > div.about-txt > ul.textbox-left > li > div.circle > div > p {
      width: 135px; height: 135px; text-align: center; color:#fbe04c; font-size: 16pt; font-weight: 700; display:table-cell; vertical-align: middle;
}

article.about > div.about-txt > ul.textbox-right {position: relative; float:left; margin: 160px 0 0 105px;}
article.about > div.about-txt > ul.textbox-right > li {list-style-type: none;}
article.about > div.about-txt > ul.textbox-right > li > h3 {font-size: 18pt; font-weight: 700; color: #fff; margin-bottom: 48px;}
article.about > div.about-txt > ul.textbox-right > li > p {width: 530px; font-size: 13pt; font-weight: 400; color: #fff; line-height: 33pt;}
article.about > div.about-txt > ul.textbox-right > li > p > span {color:#fbe04c;}

article.video {width:100%; height: 1080px;}
article.video > video {height: 1080px;}

article.service {
      height: 1110px; padding: 135px 0 0 20%;
      background-image: url(./image/service-visual.jpg);
      background-size: cover;
}
article.service > div.menu-name2 {float: right; position: relative; font-size: 17pt; margin: 0 310px 0 110px;}
article.service > div.menu-name2 > a {
      color: rgba(255, 255, 255, 0.7); float: left; margin-right: 10px;
      text-decoration: none;
}
article.about > div.menu-name2 > p {color:#fff;}


/*마우스커서*/
#cursor-dot,#cursor-bg,#progress{overflow:hidden;position:fixed;top:50%;left:50%;
      -webkit-transform:translateX(-50%) translateY(-50%);
      -moz-transform:translateX(-50%) translateY(-50%);-o-transform:translateX(-50%) translateY(-50%);
      -ms-transform:translateX(-50%) translateY(-50%);transform:translateX(-50%) translateY(-50%);
      pointer-events:none
      /*마우스 커서에 이벤트 요소로 적용할 것이냐*/
      /* none - 이벤트 요소 비활성 */
      /* auto - 기본값 : 이벤트 요소 활성 */
}
#cursor-dot{z-index:600;width:4px;height:4px;border-radius:50%;background-color:rgb(162, 0, 255)}
#cursor-bg{z-index:400;width:30px;height:30px;border:1px solid #fff;border-radius:50%;-webkit-transition:width 200ms cubic-bezier(0.455,0.030,0.515,0.955),height 200ms cubic-bezier(0.455,0.030,0.515,0.955),background-color 200ms cubic-bezier(0.455,0.030,0.515,0.955),border-color 200ms cubic-bezier(0.455,0.030,0.515,0.955);-moz-transition:width 200ms cubic-bezier(0.455,0.030,0.515,0.955),height 200ms cubic-bezier(0.455,0.030,0.515,0.955),background-color 200ms cubic-bezier(0.455,0.030,0.515,0.955),border-color 200ms cubic-bezier(0.455,0.030,0.515,0.955);-o-transition:width 200ms cubic-bezier(0.455,0.030,0.515,0.955),height 200ms cubic-bezier(0.455,0.030,0.515,0.955),background-color 200ms cubic-bezier(0.455,0.030,0.515,0.955),border-color 200ms cubic-bezier(0.455,0.030,0.515,0.955);-ms-transition:width 200ms cubic-bezier(0.455,0.030,0.515,0.955),height 200ms cubic-bezier(0.455,0.030,0.515,0.955),background-color 200ms cubic-bezier(0.455,0.030,0.515,0.955),border-color 200ms cubic-bezier(0.455,0.030,0.515,0.955);transition:width 200ms cubic-bezier(0.455,0.030,0.515,0.955),height 200ms cubic-bezier(0.455,0.030,0.515,0.955),background-color 200ms cubic-bezier(0.455,0.030,0.515,0.955),border-color 200ms cubic-bezier(0.455,0.030,0.515,0.955)}
#progress{z-index:500;color:#fff;width:30px;height:30px;border-radius:50%;-webkit-transition:width 200ms cubic-bezier(0.455,0.030,0.515,0.955);-moz-transition:width 200ms cubic-bezier(0.455,0.030,0.515,0.955);-o-transition:width 200ms cubic-bezier(0.455,0.030,0.515,0.955);-ms-transition:width 200ms cubic-bezier(0.455,0.030,0.515,0.955);transition:width 200ms cubic-bezier(0.455,0.030,0.515,0.955)}
#cursor-bg.active{width:60px;height:60px;background-color:#fff;border-color:#fff;mix-blend-mode:exclusion}
#progress.active{width:60px;height:60px}
#progress span{display:block;position:absolute;top:50%;left:50%;text-align:center;-webkit-transform:translateX(-50%) translateY(-50%);-moz-transform:translateX(-50%) translateY(-50%);-o-transform:translateX(-50%) translateY(-50%);-ms-transform:translateX(-50%) translateY(-50%);transform:translateX(-50%) translateY(-50%)}
#progress.active span::after{content:'click!';text-transform:uppercase;font-size:0.833rem;line-height:1.333rem;opacity:0;-webkit-transition:opacity 200ms cubic-bezier(0.455,0.030,0.515,0.955);-moz-transition:opacity 200ms cubic-bezier(0.455,0.030,0.515,0.955);-o-transition:opacity 200ms cubic-bezier(0.455,0.030,0.515,0.955);-ms-transition:opacity 200ms cubic-bezier(0.455,0.030,0.515,0.955);transition:opacity 200ms cubic-bezier(0.455,0.030,0.515,0.955)}
#progress.active span::after{opacity:1.0}

/*@media (max-width:950px) {
      header > h1 {float: left; margin-left: 30px; padding-top: 20px;}
      header > h1 > img {width: 50%;}
      header > div.menu-wrap {float: right; margin-right: 30px;}
      header > div.menu-wrap > a {text-decoration: none; color:#fff; font-size: 10pt; font-weight: 700;}

      article.main-visual {
            height: 760px; padding:0 15%; text-align:justify; 
            background-image: url("image/maid-visual.jpg"); background-size: cover;
            display: block;
      }
      article.main-visual > div.txt-btn {padding: 30% 0 0 0; position: relative;}
      article.main-visual > div.txt-btn > h2 {font-weight: 800; font-size: 45pt; letter-spacing: 10px; color:#fbe04c;}
      article.main-visual > div.txt-btn > h2 > span {font-weight: 400; font-size: 18pt; letter-spacing: 2px; padding-left: 20px; vertical-align: bottom;}
      article.main-visual > div.txt-btn > div.main-txt {color: #fff; margin-top: 28px;}
      article.main-visual > div.txt-btn > div.main-txt > p {font-size: 15pt; padding-top: 26px;}
      article.main-visual > div.txt-btn > div.btn {margin-top: 70px;}
      article.main-visual > div.txt-btn > div.btn > button {width: 130px; height: 45px; padding: 0px 0px;}
      article.main-visual > div.txt-btn > div.btn > button > p {font-size: 12px; margin: 0 0 0 50px; padding-top: 7px; position: absolute;}
      article.main-visual > div.txt-btn > div.btn > button > img {width:20%; height:50%; margin-top: 5px; margin-left: 20px;}
      }
      article.about > div.about-txt > div.menu-name {position: relative;  font-size: 15pt; margin-bottom: 110px;}

      article.about > div.about-txt > ul.textbox-left > li > h3 {margin-bottom: 95px; font-size: 30pt; color:#fbe04c; font-weight: 800;}
      article.about > div.about-txt > ul.textbox-left > li > h4 {font-size: 13pt; font-weight: 700; color: #fff; margin-bottom: 35px;}
      article.about > div.about-txt > ul.textbox-left > li > p {font-size: 10pt; font-weight: 700; color: #fff; margin-bottom: 76px;}
      article.about > div.about-txt > ul.textbox-left > li > div.circle {position: relative;}
      article.about > div.about-txt > ul.textbox-left > li > div.circle > div {
            float: left; position: absolute; background-color: transparent;
            width: 80px; height:80px; border: 2px solid #fbe04c  ; border-radius: 100%;
      }
      article.about > div.about-txt > ul.textbox-left > li > div.circle > div.circle2 {margin-left: 115px;}
      article.about > div.about-txt > ul.textbox-left > li > div.circle > div.circle3 {margin-left: 230px;}

      article.about > div.about-txt > ul.textbox-left > li > div.circle > div > p {
            width: 80px; height: 80px; text-align: center; color:#fbe04c; font-size: 12t; font-weight: 700; display:table-cell; vertical-align: middle;
      }

      article.about > div.about-txt > ul.textbox-right {position: relative; float:left; padding-top: 160px;}
      article.about > div.about-txt > ul.textbox-right > li {list-style-type: none;}
      article.about > div.about-txt > ul.textbox-right > li > h3 {font-size: 18pt; font-weight: 700; color: #fff; margin-bottom: 48px;}
      article.about > div.about-txt > ul.textbox-right > li > p {width: 530px; font-size: 13pt; font-weight: 400; color: #fff; line-height: 33pt;}
      article.about > div.about-txt > ul.textbox-right > li > p > span {color:#fbe04c;}
}